.git
.github

node_modules
vendor

.env
.env.*
!.env.example

public/hot

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

deployment.zip
Dockerrun.aws.json

.idea
.vscode
.DS_Store
