# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
*.terraform.lock.hcl

# Laravel
/vendor/
/node_modules/
/public/build
/.phpunit.result.cache

# IDE
.vscode/
.idea/
deploy.zip